---
import { Icon } from 'astro-icon'
import FooterNav from './FooterNav.astro'
import NavToggle from "./NavToggle.astro";
import NavSocial from './NavSocial.astro';
---

<footer class="DefaultMargins bg-clr-n4 py-4 ">
  <div class="FlexBetween MaxCenter">
    
    <a href="/">
      <p class='text-clr-n1 font-secondary font-bold text-32'>Scott Greske</p>
    </a>

    <NavSocial/>

    <NavToggle >
      <FooterNav />
    </NavToggle>

    
  </div>
</footer>
