---
import LayoutMain from 'layouts/main/LayoutMain.astro';
---

<LayoutMain pageTitle="Home Page">
  <a class='block' href="/tree">Tree</a>
  <a class='block' href="/testpage">Test Page</a>
</LayoutMain>
