---
import HeaderNav from './HeaderNav.astro';
import NavToggle from './NavToggle.astro';
---

<header class='DefaultMargins | bg-black/50 py-8 shadow-lg'>
  <div class='MaxCenter FlexBetween | '>

    <a href='/'>
      <p class=' font-secondary font-bold text-32'> scott greske</p>
    </a>

    <NavToggle >
      <HeaderNav />
    </NavToggle>

  </div>
</header>

