---
import 'src/global.css'
import Header from "./Header.astro"
import Footer from "./Footer.astro"
import Main from './Main.astro'

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html data-project='main' data-theme='dark' class='scroll-smooth' lang="en">
  
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body class='bg-gradient-to-l from-clr-bg to-clr-3 from-70%'>
    <Header/>
    <Main>
      <slot />       
    </Main>
    <Footer/>
  </body>

</html>
