@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

/* Custom Properties ------------------------------ */
  html {
    --breakpointTablet: 650px;
    --breakpointDesktop: 1000px;

    --marginMobile: 1rem;
    --marginTablet: 2rem;
    --marginDesktop: 4rem;
    --maxWidth: 1110px;

    --fontPrimary:'XXXXX';
    --fontSecondary:'XXXXX';

    --clrThemeone: #XXXXX;
    --clrThemetwo: #XXXXX;
    --clrThemethree: #XXXXX;
  }
  html[data-theme='one'] {
    --clrDefault: #XXXXX;
    --clrBackground: #XXXXX;
    --clrOverlay: 0 0 0;
    --clrHover: #XXXXX;
    --clr1: #XXXXX;
    --clr2: #XXXXX;
    --clr3: #XXXXX;
    --clr4: #XXXXX;
    --clr5: #XXXXX;
  }

/* Base Styles ------------------------------------- */
  *, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--clrDefault);
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--clrBackground);
    color: var(--clrDefault);
    font-family: var(--fontPrimary);
    line-height: 1.5;
    margin: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  button, [role='button'] {
    cursor: pointer;
  }
  :disabled {
    cursor: none;
  }
  fieldset {
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--fontSecondary);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  img {
    height: auto;
    width: 100%;
  }
  svg {
    fill: var(--clrDefault); 
  }
  video {
    height: auto;
    width: 100%;
  }
  [hidden] {
    display: none;
  }
  /* img {@apply w-full h-auto} */
  /* ol, ul, menu {@apply list-none m-0 p-0} */

/* Markdown Styles ---------------------------------- */
  
  [data-type='markdown'] > h1 {
    font-size: 2rem }
  [data-type='markdown'] > h3 {
    font-size: 1.5rem;
  }
}


@layer components { 

/* Utility ------------------------------------------- */
  .AbsoluteCenter {
    position: absolute;
    left: 50%;
    translate: -50%;
  }
  .FlexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .MaxCenter {
    max-width: var(--maxWidth);
    margin: auto;
  }

}