---
const themeArray = ['one', 'two', 'three']
---

<fieldset class='flex flex-col gap-2 items-center'>
  {themeArray.map( (current) => (
      <label style={{backgroundColor: `var(--clrTheme${current})`}} 
        class='w-4 h-4 active:bg-clr-default rounded-full border cursor-pointer hover:scale-125' for={current}>
        <input class='invisible' name='theme-picker' id={current} type="radio" />
      </label>
  ))}
</fieldset>

<!-- css ----------------------------------------------->
<style>
  label { 
    transition: all 100ms ease-out; 
  }
  label:has(:checked) {
    scale: .4;
    transition: all 100ms ease-out; 
  }
</style>

<!-- javascript ----------------------------------------------->
<script>
  const themes = document.querySelectorAll(`input[name='theme-picker']`) 
  const defaultTheme = document.querySelector('#one')                    
  defaultTheme && defaultTheme.setAttribute('checked', 'true')

  const changeTheme = () => {
    themes.forEach( (current:any) => {                                        //any
      if (current.checked) {
        const selectedTheme = current.getAttribute('id')
        const html =  document.querySelector('html')
         html && html.setAttribute('data-theme', selectedTheme)
      }
    })
  } 

  themes.forEach((current) => {                                     
    current.addEventListener('change', () => changeTheme())
  }); 
</script>