@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Main --------------------- */

  html[data-project='main'] {
    --breakpointTablet: 650px;
    --breakpointDesktop: 1000px;

    --marginMobile: 1rem;
    --marginTablet: 2rem;
    --marginDesktop: 4rem;

    --maxWidth: 1110px;
  }

  html[data-theme='dark'] {
    --clrDefault: #f3f4f6;
    --clrBackground: #172554;
    --clr1: #ea580c;
    --clr3: #1e3a8a;
    --clr4: XXXXX;
    --clr5: XXXXX;
    --clr6: XXXXX;
    --clr7: XXXXX;
  }

  html[data-theme='light'] {
    --clrDefault: black;
    --clrBackground: white;
    --clr1: blue;
    --clr2: XXXXX;
    --clr3: XXXXX;
    --clr4: XXXXX;
    --clr5: XXXXX;
    --clr6: XXXXX;
    --clr7: XXXXX;
  }

  /* Tree --------------------- */

  html[data-project='tree'] {
    --marginMobile: 1rem;
    --marginTablet: 2rem;
    --marginDesktop: 4rem;

    --maxWidth: 1110px;    
  }

   /* Test Page --------------------- */

  html[data-project='testpage'] {
    --marginMobile: 1rem;
    --marginTablet: 2rem;
    --marginDesktop: 4rem;

    --maxWidth: 1110px;    
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }

  ::before,
  ::after {
    --tw-content: '';
  }

  html {
    -webkit-text-size-adjust: 100%; /*  Prevent adjustments of font size after orientation changes in iOS. */
    font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"); /* Use the user's configured `sans` font-family by default. */
    /* font-feature-settings: theme('fontFamily.sans[1].fontFeatureSettings', normal); 
    font-variation-settings: theme('fontFamily.sans[1].fontVariationSettings', normal);  */
  }

  body {
    @apply bg-clr-bg text-clr-default font-primary text-center leading-6 m-0;
  }

  hr {
    height: 0; /* Add the correct height in Firefox. */
    color: inherit; /* Correct the inheritance of border color in Firefox. */
    border-top-width: 1px; /* Ensure horizontal rules are visible by default. */
  }

  abbr:where([title]) {
    text-decoration: underline dotted; /* Add the correct text decoration in Chrome, Edge, and Safari. */
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  b,
  strong {
    font-weight: bolder; /* Add the correct font weight in Edge and Safari. */
  }

  code,
  kbd,
  samp,
  pre {
    font-family: theme('fontFamily.mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace); /* Use the user's configured `mono` font family by default. */
    font-size: 1em; /* Correct the odd `em` font sizing in all browsers. */
  }

  small {
    font-size: 80%; /* Add the correct text decoration in Chrome, Edge, and Safari. */
  }

  /* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* Change the font styles in all browsers. */
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0; /* Remove the margin in Firefox and Safari. */
    padding: 0; /* Remove default padding in all browsers. */
  }

  button,
  select {
    text-transform: none;   /* Remove the inheritance of text transform in Edge and Firefox. */
  }

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button; /* 1. Correct the inability to style clickable types in iOS and Safari. */
    background-color: transparent; /* Remove default button styles.*/
    background-image: none; 
  }

  :-moz-focusring {
  /* Use the modern Firefox focus style for all focusable elements. */
    outline: auto; 
  }

  :-moz-ui-invalid {
    box-shadow: none;   /* Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737) */
  }

  progress {
    vertical-align: baseline;   /* Add the correct vertical alignment in Chrome and Firefox. */
  }

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;   /* Correct the cursor style of increment and decrement buttons in Safari. */
  }

  [type='search'] {
    -webkit-appearance: textfield;   /* 1. Correct the odd appearance in Chrome and Safari. */
    outline-offset: -2px; /* Correct the outline style in Safari. */
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;   /* Remove the inner padding in Chrome and Safari on macOS. */
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;   /* 1. Correct the inability to style clickable types in iOS and Safari. */
    font: inherit;   /* 2. Change font properties to `inherit` in Safari. */
  }

  summary {
    display: list-item;   /* Add the correct display in Chrome and Safari. */
  }
  
  dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 1; /*  Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300) */
    color: theme('colors.gray.400', #9ca3af); /* Set the default placeholder color to the user's configured gray 400 color. */
  }

  button,
  [role="button"] {
    cursor: pointer;   /* Set the default cursor for buttons. */
  }

  :disabled {
    cursor: default;   /* Make sure disabled buttons don't get the pointer cursor. */
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  svg {
    @apply fill-clr-default
  }

}

@layer components { 
/* position */
  .AbsoluteCenter {@apply absolute left-1/2 -translate-x-1/2}
  .AbsoluteFull {@apply absolute w-full}
  .FixedFull {@apply fixed w-full}

/* layout */
  .FlexBetween {@apply flex justify-between items-center}
  .FlexCenter {@apply flex justify-center items-center}
  .GridBasic {@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3}
  
/* spacing */
  .DefaultMargins {@apply px-mobile md:px-tablet lg:px-desktop}
  .MaxCenter {@apply max-w-maxx m-auto}

/* components */
  .CardOne {@apply bg-black/50 text-clr-2 w-fit m-auto rounded-lg shadow-xl border-t-1 border-t-clr-1 border-l-1 border-l-clr-1}
  .GradientOne {@apply bg-gradient-to-l from-clr-bg to-clr-3 from-70%}


}