---
import Navigation from './Footer/Navigation.astro'
import NavSocial from './Footer/SocialNav.astro';
import Logo from './Footer/Logo.astro';
import Copyright from './Footer/Copyright.astro';
---

<footer class='ResponsiveMargins | bg-clr-XXXXX py-XXXXX' >
  <div class='MaxCenter FlexBetween'> 
    
    <Logo/>
    <NavSocial/>
    <Copyright/>
    <Navigation /> 

  </div>
</footer>