---
import Navigation from './Header/Navigation.astro'
import NavToggle from "./Header/NavToggle.astro";
import SocialNav from './Header/SocialNav.astro';
import Logo from './Footer/Logo.astro';
---

<header class='ResponsiveMargins | bg-clr-XXXXX py-XXXXX' >
  <div class='MaxCenter FlexBetween'> 
    <Logo/>
    <SocialNav/>
    <NavToggle>
      <Navigation/>
    </NavToggle>

  </div>
</header>